apiVersion: batch/v1
kind: CronJob
metadata:
  name: url-shortner-healthcheck
spec:
  schedule: "*/5 * * * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: curl
              image: curlimages/curl:8.11.0
              args: ["-fsS", "http://web:8000/health"]
