apiVersion: v1
kind: Service
metadata:
  name: web
  labels:
    app: url-shortner
spec:
  type: NodePort
  selector:
    app: url-shortner
  ports:
    - name: http
      port: 8000
      targetPort: 8000
      nodePort: 30080   
      protocol: TCP
